  body {
  background-color: #0d192c;
  font-family: "Outfit", sans-serif;
}

.card {
  background-color: #15263f;
  width: 350px;
  border-radius: 15px;
  margin: 152px auto;
  float: none;
}

.cubes {
  position: relative;
}

.cubes:hover .blue-cube {
  display: block;
  z-index: 1;
  opacity: 70%;
  left: 23px;
}
.text-area{
  width: 90%;
  padding-left: 27px;
}

.blue-cube {
  position: absolute;
  display: none;
}

.cube {
  position: relative;
}

.lightblue-text {
  color: #8bacd9;
  font-weight: 300;
}

.font-16 {
  font-size: 16px;
}

.brightblue-text {
  color: #00fff8;
}

.stroke {
  border-top: 1px solid #2e405a;
}

a {
  color: white;
}

a:hover {
  color: #00fff8;
  text-decoration: none;
}
